body{
  font-family: "Ubuntu"
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font-family: Montserrat;
  font-size: 2rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
}

/* navigation bar */
.navbar{
  padding: 0 0 4.5rem;
  /* position: relative;
  z-index: 1; */
}

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 20px;
}

.nav-link{
  font-size: 1rem;
  font-weight: light;
}

/* Download-button */
.download-btn{
  margin: 2rem 1rem 2rem 0;
}

/* title-image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
  /* position: relative;
  top:200px;  */

}


/* features */
#features{

  background-color: #fff;
}
.row{
  justify-content: space-evenly;
}

.icon{
  color: #ef8172;
  /* font-size: 30px; */
  margin-bottom: 20px;
}

 .para-features{
   font-weight: lighter;
   color: #818181;
 }

 .fas:hover{
   color: #ff4c68;
 }

 /* Testimonials */
 #testimonials{
   text-align: center;
   background-color: #ef8172;
   color: #fff;
 }

 .testimonial-image{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
 }

 .carousel-item{
   padding: 7% 10%;

 }

 /* press */
 #press{
   background-color: #ef8172;
   text-align: center;
   padding-bottom: 5%;
 }

.press-logo{
  width:15%;
  margin:20px 25px;
}

/* pricing */
#pricing{
  padding: 3rem 5rem;
}

.pricing-column{
  padding: 3% 2%;
  text-align: center;
}

.ptest{
  /* margin-left: -425px; */
}

.ctest{
  /* position: absolute;
  top: 2.5rem;
  left: 50rem; */
}
